<section id="blog" class="container">
  <div class="center">
    <h2>Restaurant News</h2>
    
  </div>

  <div class="blog">
    <div class="row">
      <div class="col-md-8">
        <div id="ika" class="blog-item">
            <img src="{{vest.image}}" width="700px" height="370px" alt="" />
          <div class="row">
           
            
            <div class="col-xs-12 col-sm-12 blog-content">
             
              <h2 id="neza"><a href="#">{{vest.heading}}</a></h2>
              
                  <span class="spanac" id="publish_date"> Date: {{vest.date | date:'dd.MM.yyyy'}}</span><br><br>
                  <span class="spanac"><i class="fa fa-user"></i> Admin</span><br><br>
              
                  
                  
             
              <h2 id="uros"> <i class="glyphicon glyphicon-arrow-right"></i> {{vest.desc}}</h2>
            </div>
          </div>
        </div>
        <!--/.blog-item-->
          
       

      </div>
      <!--/.col-md-8-->
     
  <app-comment (commentAdded)="onAddComment($event)"></app-comment>
  <app-show-comment *ngFor="let acc of comments; let i = index"
  [comment]="acc"></app-show-comment>

    </div>
    <!--/.row-->
  </div>


</section>
<!--/#blog-->



       