<div class="container">
<div class="col-md-12">
    <div class="media services-wrap wow fadeInDown" >
      <div class="pull-left">
        <img class="img-responsive" id="jak" src="assets/images/nikola.jpg" @scale>
      </div>
      <div class="media-body" @scale>
        <br><br>
        <i class="glyphicon glyphicon-info-sign" ></i>
       
        <p class="paske">
              Hello, my name is Nikola Kalincevic and I'm 22.<br>
              I live in Obrenovac, small town near Belgrade.<br>
              I'm studying Web programming at ICT College.<br>
              This website is project for subject about <b>AngularJS Framework</b>!
           </p>
           <br>
           <i class="glyphicon glyphicon-envelope"></i>
           <span class="paske"> kalincevicnikola8@gmail.com</span><br><br>
           <i class="glyphicon glyphicon-map-marker"></i>
           <span class="paske" > Obrenovac - Serbia </span><br><br>
           <i class="glyphicon glyphicon-pencil" ></i>
           <span class="paske" > ICT College - Belgrade</span><br><br>
             
          </div>
     
    </div>
  </div>
</div>