<section id="services" class="service-item">
  <div  class="container">
    <div class="center wow fadeInDown">
      <h1 id="neas">Very Delicious Drink Menu</h1>
      
    </div>

    <div  class="row">

      <div id="divina" class="col-sm-6 col-md-3" *ngFor="let dr of drink">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <a href="{{dr.image}}" data-lightbox="gallery"><img class="pict" width="200px" height="160px" src="{{dr.image}}"></a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">{{dr.name}}</h3>
            <p class="imena"><i><b>Ingredients:</b> {{dr.ingredients}}</i></p>
            <p class="imena"><i><b>Price:</b> {{dr.price | currency:'USD'}}</i></p>

          </div>
        </div>
      </div>

      

     


      
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
