
    <div class="container" @slideDown>
      <div class="center wow fadeInDown">
        <h2>About Our Restaurant</h2>
        <p class="lead">This is how our story begins</p>
      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
              <img class="img-responsive" id="slicka" src="assets/images/bg_1.jpg">
            </div>
            <div class="media-body">
                <i id="noz" class="glyphicon glyphicon-cutlery"></i><p class="paske">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

                <p class="paske">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
          </div>
        </div>

       

        

        

        
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  


